:root{ 
    --font:'Roboto', sans-serif;
    --white: #fff;
    --black: #000;
    --gray: #ccc;
}
body{ 
    font-family: var(--font);
    color: #333;
    background-color: #fff;     
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{ 
    list-style: none;
}
img{ 
    max-width: 100%;
    height: auto;
}
.container{ 
    max-width: 1178px;
    margin: 0 auto;
    padding: 0 30px;
}
.header .container{ 
    padding: 20px 30px;
    border-bottom: 1px solid var(--gray);
    background-color: greenyellow;
}
.header__title{ 
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2rem;
}
.main-count{ 
    background-color: #3b3939;
    padding: 150px 0;
} 
.input-number{
    width: 210px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid var(--black);
    outline: none;
    color: var(--white);
    padding: 15px 10px;
    font-size: 18px;
}
.input-number::placeholder{ 
    color: var(--white);
}
.system-count{ 
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding-left: 6px;
}
.btn-calc{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--black);
    border: none;
    outline: none;
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
    transition: 250ms;
}
.btn-calc:hover{ 
    background-color: #333;
}
.too{ 
    color: var(--white);
}